<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script th:inline="javascript">
        /* <![CDATA[ */
        var showingQueriesForIndex = /*[[${showingQueriesForIndex}]]*/;
        var queriesToTransactions = /*[[${queriesToTransactions}]]*/;
        /* ]]> */
    </script>
</head>
<body>
<div class="section">
    <h1>
        Transactions
    </h1>
</div>
<div class="section">
    <table>
        <thead>
        <tr>
            <th>Queries in transaction</th>
            <th>Times [μs]</th>
            <th>Average time [μs]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${queriesToTransactions}"
            th:each="transactions, trIndex: ${queriesToTransactions}"
            class="table-row"
            th:id="'row'+${trIndex.index}"
            th:data-parameter1="${trIndex.index}"
            th:data-parameter2="${transactions.key}"
            onclick="showQueries(this.getAttribute('data-parameter1'), this.getAttribute('data-parameter2'))"
            title="Click to show original queries"
        >
            <td>
                <ul>
                    <li th:each="query: ${transactions.key}"
                        th:text="${query}"
                        class="table-row-query"
                    >
                    </li>
                </ul>
            </td>
            <td>
                <div class="table-row-times">
                    <span th:each="transaction, timeIndex: ${transactions.value}"
                          th:text="${transaction.time} + ${timeIndex.index + 1 != timeIndex.size ? ', ' : ''}"
                          class="table-row-time"
                    />
                </div>
            </td>
            <td>
                <div class="table-row-avg-time"
                th:text="${#aggregates.avg(transactions.value.![time])}"
                />
            </td>
        </tr>
        <tr th:unless="${queriesToTransactions}">
            <td>No transactions</td>
            <td th:text="${test}"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="section">
    <div class="footer">
        <p><i>
            Automated tracking and grouping of database
            transactions in Java Virtual Machine (JVM)
            applications
        </i></p>
        <p>
            A project created for Research Project classes at Gdansk University of Technology
        </p>
    </div>
</div>
</body>
</html>